<div class="favorite-bg">


  <nav class="navbar navbar-expand-sm bg-transparent justify-content-between" id="nav" style="position: absolute; z-index: 10; width: 100%">

    <!-- Logo à gauche -->
    <%= link_to "/" do %>
        <%= image_tag "lily_35.png" %>
    <% end %>


    <!-- Burger -->
    <div class="dropdown dropleft">
      <button class="btn bg-transparent border-transparent shadow-none px-1" type="button" data-toggle="dropdown"><i class="fas fa-bars fa-1x" style="color: white;"></i>
          </button>
        <% if user_signed_in? %>

          <div class="dropdown-menu rounded border-0 shadow-none" aria-labelledby="dropdownMenu2">
            <%= link_to baskets_path do %>
            <button class="dropdown-item" type="button">Panier</button>
            <% end %>
            <%= link_to favorites_path do %>
            <button class="dropdown-item shadow-none" type="button">Favoris</button>
            <% end %>
            <%#= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <button class="dropdown-item shadow-none" type="button">Log out</button>
            <% end %>
          </div>
        <% else %>
          <div class="dropdown-menu rounded border-0 shadow-none" aria-labelledby="dropdownMenu2">
            <%= link_to new_user_session_path do %>
            <button class="dropdown-item shadow-none" type="button">Login</button>
            <% end %>
          </div>
        <% end %>
    </div>

  </nav>

<div class="d-flex justify-content-center p-2">
  <h1 class="text-center text-white">Panier <i class="fas fa-shopping-basket" style="font-size: 30px;"></i></h1>
</div>

  <div class="container">

    <% @baskets.each do |basket| %>
    <div class="row d-flex bg-white rounded shadow border m-2 border-0">
      <div class="col-sm-2 w-25 p-0">
       <i class="img-resize rounded"><%= cl_image_tag basket.stock.product.photo.key %></i>
      </div>
      <div class="col-sm-9 py-1 w-50">
        <div class="d-flex w-100">
          <div class="d-block">
            <strong><p class="m-0"><%= basket.stock.product.name %></p></strong>
            <i><%= basket.stock.product.brand %></i>
            <p><%= basket.stock.product.description %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 w-25 d-flex align-items-center">
        <%= button_to basket_path(basket),method: :delete, class: " btn p-0 m-0 bg-transparent border-O" do %>
          <i class="far fa-times-circle" id="btn-suppr" style="color: #FD1015;"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
