<!-- navbar -->
<%= render 'shared/navbar' %>
<%= link_to stocks_path do%>
<div class="btn rounded rounded-pill btn-circle bg-warning p-2"><i class="fas fa-chevron-right" style="color: white"></i></div>
<% end %>

<!-- map -->
<div class="" id="map-iti" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>

  <div class="bg-white info-instruction m-0 w-25 rounded">
    <div class="d-flex align-item-center p-1">
     <i class="fas fa-walking" style="font-size: 11px"></i>
     <p id="instructions-iti" class="m-0 pl-1 text-center" style="font-size: 11px" ></p>
   </div>
  </div>

<div class="container">
  <h2><%= @stock.shop.name %></h2>
    <% if @rating_score != 0 %>
      <p><%= @rating_score %></p>
    <%end %>
    <% @star.times do  %>
      <i class="fas fa-star"></i>
    <%end  %>
    <% @halfstar.times do %>
      <i class="fas fa-star-half-alt"></i>
    <%end  %>
    <% if @rating != 0 %>
      <%= @rating.count %>
    <% end %>

      <h2> <%= @open %> <%= @fermeture%></h2>

  <p><%= @stock.product.name %></p>
  <p><%= @stock.price %>$</p>
</div>

<!-- <button class="btn p-0 m-0 bg-transparent border-O shadow-none" data-toggle="modal" data-target="#ModalNewFavorite"> <i class="fa fa-heart shadow-none"
  <%# @favorite_user.each do | user | %>
    <%# if user == @stock.product.id  %>
    style="color: pink"
    <%# else %>
    style="color: gray"
    <%# end %>
    <%#raise  %>
  <%# end %>
></i></button> -->

<!-- Modal -->

<%# @favorite_user.each do | user | %>
  <%# if user != @stock.product_id  %>
<!-- ModalNewFavorite -->
<!--     <div class="modal fade" id="ModalNewFavorite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg h-75" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container mt-4 text-center">
              <h5>Voulez-vous ajouter <strong><%#= @stock.product.name %></strong> aux favoris ?</h5>
              <div class="mx-5 d-flex justify-content-center">
                <%#= simple_form_for [@stock, @favorite] do |f| %>
                  <%#= f.submit 'Oui', class: 'btn btn-success m-4' %>
                <%# end %>
                <button type="button" class="btn btn-warning m-4" data-dismiss="modal">Non</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <%# end %>
<%# end %>
