<div class="container">
  <h2><%= @stock.shop.name %></h2>

    <% @star.times do  %>
      <i class="fas fa-star"></i>
    <%end  %>
    <% @halfstar.times do %>
      <i class="fas fa-star-half-alt"></i>
    <%end  %>
    <%= @rating.count %>

    <% if !@open %>
      <h2>Fermé : <%= @day %></h2>
    <%else %>
      <h2> <%= @open %> Ouvre dans <%= @hours  %></h2>
    <%end %>

  <p><%= @stock.product.name %></p>
  <p><%= @stock.price %>$</p>
</div>
