<nav class="navbar navbar-expand-sm bg-transparent justify-content-between" id="nav" style="position: absolute; z-index: 10; width: 100%">

  <!-- Logo à gauche -->
  <%= link_to "/" do %>
      <%= image_tag "lily_35.png" %>
  <% end %>


  <!-- Search form -->
  <div class="w-75">
   <%= form_tag searches_new_path, method: :get, autocomplete: :off do %>
            <div class="input-group-append p-2 bg-white rounded rounded-pill">
              <%= text_field_tag :query,
                params[:query],
                class:"form-control typeahead border-0 shadow-none bg-transparent ",
                placeholder: "Recherchez un produit..."
              %>

              <%= button_tag :submit, class:'border-0 shadow-none bg-transparent btn' do %>
                  <i class="fa fa-search shadow-none" style="color: #F4AA5B;"></i>
              <% end %>
            </div>
      <% end %>
  </div>


  <!-- Burger -->
  <div class="dropdown dropleft">
    <button class="btn bg-transparent border-transparent shadow-none px-1" type="button" data-toggle="dropdown"><i class="fas fa-bars fa-1x" style="color: #A8D384;"></i>
        </button>
      <% if user_signed_in? %>

        <div class="dropdown-menu rounded border-0" aria-labelledby="dropdownMenu2">
          <%= link_to favorites_path do %>
          <button class="dropdown-item" type="button">Favoris</button>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
<!--           <%#= link_to destroy_user_session_path, method: :delete do %>
          <button class="dropdown-item" type="button">Log out</button>
          <%# end %> -->
        </div>
      <% else %>
        <div class="dropdown-menu rounded border-0" aria-labelledby="dropdownMenu2">
          <%= link_to new_user_session_path do %>
          <button class="dropdown-item" type="button">Login</button>
          <% end %>
        </div>
      <% end %>
  </div>

</nav>
