<div class="home-page">
  <div class="lily" id="lily"></div>
  <div class="container height-min-100-vh bg-white w-75 rounded" style="position: absolute; top: 25vh; right: 13%;">
    <div class="row">
      <div class="col-12 col-sm-4 col-sm-offset-4">

        <h2 class="text-center mt-2">Se connecter</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true, placeholder: "chopshop@chopshop.me" %>
            <%= f.input :password, required: false, placeholder: "charlotte" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions text-center mb-3">
            <%= f.button :submit, "Se connecter", class: "btn btn-warning" %>
          </div>
          <%#= render "devise/shared/links" %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="container text-center w-75 fixed-bottom mb-5">
    <button class="btn btn-success" data-toggle="modal" data-target="#ModalInfos" >Comment explorer la plateforme ?</button>
  </div>
</div>

<!-- Modal -->

  <div class="modal fade" id="ModalInfos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg h-75" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container mt-4 text-center">
            <p>Email : chopshop@chopshop.me</p>
            <p>Mot de passe : charlotte</p>
            <h5>A vous de jouer !</H5>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--






<h2>Log in</h2>

<%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%#= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%#= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit, "Log in" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %> -->
