<div class="home-page">

  <nav class="navbar navbar-expand-sm bg-transparent justify-content-end" id="nav">

  <!-- Burger -->
  <div class="dropdown dropleft">
    <button class="btn bg-transparent border-transparent shadow-none px-1" type="button" data-toggle="dropdown"><i class="fas fa-bars fa-1x" style="color: white;"></i>
        </button>
      <% if user_signed_in? %>
        <div class="dropdown-menu rounded border-0" aria-labelledby="dropdownMenu2">
          <%= link_to do %>
          <button class="dropdown-item" type="button">Favoris</button>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="dropdown-item" type="button">Log out</button>
          <% end %>
        </div>
      <% else %>
        <div class="dropdown-menu rounded border-0" aria-labelledby="dropdownMenu2">
          <%= link_to new_user_session_path do %>
          <button class="dropdown-item" type="button">Login</button>
          <% end %>
        </div>
      <% end %>
  </div>

</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">

      <%= image_tag "lily_70.png", class: "mx-auto d-block" %>

      <h1 class="text-center my-2 text-white">ShopChop!</h1>

    </div>
  </div>
</div>

<!-- Container Search -->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">

      <!-- Search form -->
      <div class="p-1 bg-white rounded rounded-pill">
        <div class="input-group">
          <input type="search" placeholder="" class="form-control border-0 shadow-none bg-transparent">
          <%= link_to stocks_path do %>
            <div class="input-group-append">
              <button class="btn shadow-none"><i class="fa fa-search" style="color: #F4AA5B;"></i></button>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin search form -->

    </div>
  </div>
</div>

<!-- <h1>Searches#new</h1> -->

</div>
